.weatherbackground {
  border: black 2px solid;
  margin-top: 55px;
  margin-left: 175px;
  margin-right: 175px;
  padding-left: 50px;
  padding-bottom: 25px;
}

.temp-icon {
  height: 50px;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}

.button {
  margin-left: 39%;
}
